@import "_include.scss";
@import "_fonts.scss";

$COLOUR_BACKGROUND: #282828;
$COLOUR_EXCERPT: #DDDDDD;
$COLOUR_EXCERPT_MOUSEOVER: #F92672;
$COLOUR_DATE: #DDDDDD;
$COLOUR_DATE_MOUSEOVER: #A6E22E;
$COLOUR_INPUT_BACKGROUND: #141414;

body
{
	text-align: center;
	background-color: $COLOUR_BACKGROUND;
}

%logo
{
	@include font_logo;
}

#logo1
{
	@extend %logo;
	color: $COLOUR_EXCERPT_MOUSEOVER;
}

#logo2
{
	@extend %logo;
	color: white;
}

#div_content
{
	width: 600px;
	margin: 0 auto;
}

#plus
{
	@include font_plus;
	position: absolute;
	display: inline-block;
}

#input
{
	width: 100%;
	height: 50px;
	background-color: $COLOUR_INPUT_BACKGROUND;
	color: $COLOUR_EXCERPT_MOUSEOVER;
	border: 1px solid white;
}

table
{
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: justify;
}

tr
{
	cursor: pointer;
}

.arrow
{
	color: $COLOUR_EXCERPT_MOUSEOVER;
	opacity: 0;
}

.arrow_mouseover
{
	opacity: 1;
}

.excerpt
{
	color: $COLOUR_EXCERPT;
	padding: 10px 0px 10px 0;
}

.excerpt_mouseover
{
	color: $COLOUR_EXCERPT_MOUSEOVER;
}

.date
{
	color: $COLOUR_DATE;
	padding-left: 15px;
}

.date_mouseover
{
	color: $COLOUR_DATE_MOUSEOVER;
}