@import "_include.scss";
@import "_fonts.scss";

$BACKGROUND_COLOUR: #282828;
$LIGHT_GREY: #DDDDDD;
$GREEN: #A6E22E; 
$PINK: #F92672;
$BLUE: #00AEEF;
$RED: #9E0B0F;
$DARK_GREY: #141414;

body
{
	text-align: center;
	background-color: $BACKGROUND_COLOUR;
}

#table_header
{
	table-layout: fixed;
}

.td_logo
{
	text-align: center;
}

.td_github
{
	text-align: right;
	padding: 30px;
}

%logo
{
	@include font_logo;
}

#logo1
{
	@extend %logo;
	color: $PINK;
}

#logo2
{
	@extend %logo;
	color: white;
}

#div_content
{
	width: 600px;
	margin: 0 auto;
}

#input
{
	width: 0;
	margin: 0;
    border: 0;
    padding: 0;
	height: 50px;
	overflow: hidden;
	float: right;
	resize: vertical;
	background-color: $DARK_GREY;
	color: $PINK;
	border: none;
	max-height: 200px;
	-moz-box-shadow:    inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow:         inset 0 0 20px #000000;
}

#plus
{
	@include font_plus;
	right: 5%;
	position: absolute;
	width: 50px;
	height: 50px;
}

$PLUS_SIZE: 50px;

#div_plus
{
	right: 5%;
	position: absolute;
	width: $PLUS_SIZE;
	height: $PLUS_SIZE;
}

%plus_component
{
	position: absolute;
	background-color: white;
}

#plusX
{
	@extend %plus_component;
	width: $PLUS_SIZE;
	height: $PLUS_SIZE/4;
	top: $PLUS_SIZE/2 - $PLUS_SIZE/8;
}

#plusY
{
	@extend %plus_component;
	width: $PLUS_SIZE/4;
	height: $PLUS_SIZE;
	left: $PLUS_SIZE/2 - $PLUS_SIZE/8;
}

.plus_mouseover
{
	background-color: $PINK !important;
}

.cross_mouseover
{
	background-color: $BLUE !important;
}

table
{
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: justify;
}

#table_memos
{
	width: 600px;
	table-layout: fixed;
}

#table_memos, tr, td, th
{
	border-collapse: collapse;
}

#table_memos tr
{
	&:hover .td_arrow
	{
		opacity: 1;
	}

	&:hover .textarea_excerpt
	{
		color: $PINK;
	}

	&:hover .td_date
	{
		color: $BLUE;
	}
}

$TD_MEMO_WIDTH: 80%;

.th_memo_input
{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	vertical-align: middle;
	width: $TD_MEMO_WIDTH;
}

.tr_memo_input
{
	cursor: pointer;
}

%td_memo
{
	@include font_memo;
	cursor: pointer;
	color: $LIGHT_GREY;
}

.td_excerpt
{
	@extend %td_memo;
	padding: 10px 0px 10px 0;
	word-wrap: break-word;
}

.textarea_excerpt
{
	@extend %td_memo;
	background-color: $BACKGROUND_COLOUR;
	resize: none;
	width: 100%;
	border: none;
	vertical-align: middle;

	&:focus
	{
		color: $PINK;
	    outline: none !important;
	    background-color: $DARK_GREY;
	    text-transform: none !important;
	}
}

.td_date
{
	@extend %td_memo;
	padding-left: 15px;
	width: 10%;
}

.td_arrow
{
	@extend %td_memo;
	width: 10%;
	opacity: 0;
	color: $GREEN;
	text-align: right;
	position: relative;

	&:hover div_edit
	{
		display: inline-block;
	}
}

.div_edit
{
	background-color: $DARK_GREY;
	color: white;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	width: 60px;
	right: 30px;
	bottom: 10px;
}

%edit_icon
{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 5px;
}

.edit_star
{
	@extend %edit_icon;
	background: url(../img/star_colour.png) no-repeat;

	&:hover
	{
		background: url(../img/star_colour.png) no-repeat;
	}
}

.edit_x
{
	@extend %edit_icon;
	background: url(../img/cross_colour.png) no-repeat;

	&:hover
	{
		background: url(../img/cross_colour.png) no-repeat;
	}
}

.span_new
{
	color: $PINK;
}