@import "_include.scss";
@import "_fonts.scss";

$BACKGROUND_COLOUR: #282828;
$LIGHT_GREY: #DDDDDD;
$GREEN: #A6E22E; 
$PINK: #F92672;
$BLUE: #00AEEF;
$RED: #9E0B0F;
$DARK_GREY: #141414;

body
{
	text-align: center;
	background-color: $BACKGROUND_COLOUR;
}

%logo
{
	@include font_logo;
}

#logo1
{
	@extend %logo;
	color: $PINK;
}

#logo2
{
	@extend %logo;
	color: white;
}

#div_content
{
	width: 600px;
	margin: 0 auto;
}

#input
{
	width: 0;
	margin: 0;
    border: 0;
    padding: 0;
	height: 50px;
	overflow: hidden;
	float: right;
	resize: vertical;
	background-color: $DARK_GREY;
	color: $PINK;
	border: none;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}

#plus
{
	@include font_plus;
	right: 5%;
	position: absolute;
	width: 50px;
	height: 50px;
}

$PLUS_SIZE: 50px;

#div_plus
{
	right: 5%;
	position: absolute;
	width: $PLUS_SIZE;
	height: $PLUS_SIZE;
}

%plus_component
{
	position: absolute;
	background-color: white;
}

#plusX
{
	@extend %plus_component;
	width: $PLUS_SIZE;
	height: $PLUS_SIZE/4;
	top: $PLUS_SIZE/2 - $PLUS_SIZE/8;
}

#plusY
{
	@extend %plus_component;
	width: $PLUS_SIZE/4;
	height: $PLUS_SIZE;
	left: $PLUS_SIZE/2 - $PLUS_SIZE/8;
}

.plus_mouseover
{
	background-color: $PINK !important;
}

.cross_mouseover
{
	background-color: $BLUE !important;
}

table
{
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: justify;
}

th
{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}

tr
{
	cursor: pointer;
}

td
{
	@include font_memo;
}

.arrow
{
	color: $PINK;
	opacity: 0;
}

.arrow_mouseover
{
	opacity: 1;
}

.excerpt
{
	color: $LIGHT_GREY;
	padding: 10px 0px 10px 0;
}

.excerpt_mouseover
{
	color: $PINK;
}

.date
{
	color: $LIGHT_GREY;
	padding-left: 15px;
}

.date_mouseover
{
	color: $BLUE;
}